# Files to ignore when pushing a PyCharm Django project to github:
# files only needed by a PyCharm project and local-only django files
.idea/
local_settings.py

# the virtual environment
.venv

### Django ###
*.log
*.pot
**/*.pyc
**/__pycache__/
local_settings.py
db.sqlite3

# Ignore Django migrations in Development
**/migrations/**
!**/migrations/__init__.py

chromedriver
staticfiles

# ignore all static/admin folders
**/static/admin/